.countdown{
	background: url('/assets/frontend/images/tlo-licznik.jpg') center center no-repeat;
	background-size: cover;
	padding: 10px 0;
	color: #fff;
}

.countdown .text{
	vertical-align: middle;
	font-size: 28px;
	margin-right: 50px;
	font-weight: 400;
}

.countdown .clock{
	padding: 0 10px 10px 10px;
	border: 2px solid #fff;
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	vertical-align: middle;
	white-space: nowrap;
}

.countdown .clock>span{
	margin: 0 10px;
	position: relative;
	top: -3px;
	text-shadow: 0 0 10px #fff;
}

.countdown .clock>span:after{
	font-weight: 400;
	position: absolute;
	font-size: 11px;
	bottom: -4px;
	left: 0;
	right: 0;
}

.countdown .clock .days:after{
	content: 'DNI';
}
.countdown .clock .hours:after{
	content: 'GODZIN';
}
.countdown .clock .minutes:after{
	content: 'MINUT';
}
.countdown .clock .seconds:after{
	content: 'SEKUND';
}
@media (max-width: 992px) {
	.countdown .text{
		margin: 0 0 10px 0;
		font-size: 20px;
		display: block;
	}
	.countdown .clock{
		font-size: 30px;
	}
	.countdown .clock>span:after{
		font-size: 10px;
		bottom: -6px;
	}
}

@media (max-width: 450px) {
	.countdown .text{
		font-size: 18px;
	}
	.countdown .clock{
		font-size: 25px;
	}
	.countdown .clock>span:after{
		font-size: 9px;
		bottom: -7px;
	}
}
